@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

$purple: #974DFF;
$cyan: #33FFA0;
$white: #ffffff;
$black: #000000;

$horizontal-padding: 1em;
$horizontal-padding-tablet: 6em;
$hero-content-height: 40em;
$hero-content-height-desktop: 50em;
$section-margin: 10em;
$section-margin-desktop: 20em;
$tablet-width: 800px;
$desktop-width: 1100px;
$widescreen-width: 1400px;

// Original resolution is 888x1920
$phone-max-width: 444px;
$phone-max-height: 960px;

* {
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: Poppins, sans-serif;
  background-color: $white;
}

svg {
  display: block;
}

section {
  position: relative;
  margin-top: $section-margin;
  padding: 0 $horizontal-padding;
  @media only screen and (min-width: $desktop-width) {
    margin-top: $section-margin-desktop;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 700;
  line-height: 1.2;
  color: $black;
  font-size: 3em;
  text-align: center;
  @media only screen and (min-width: $tablet-width) {
    font-size: 5em;
  }
}

h2 {
  font-weight: 700;
  line-height: 1.2;
  color: $black;
  font-size: 2em;
  text-align: center;
  @media only screen and (min-width: $tablet-width) {
    font-size: 4em;
  }
}

h3 {
  font-weight: 300;
  line-height: 1.2;
  color: $black;
  font-size: 1.5em;
  text-align: center;

  @media only screen and (min-width: $tablet-width) {
    font-size: 2em;
  }
}

.logo {
  width: 5em;
}

.underline {
  width: 5em;
  height: 1.2em;
  background-color: $cyan;
  margin: 1em auto 0 auto;
}

.btn {
  display: inline-block;
  background-color: $white;
  border: none;
  color: $purple;
  padding: 0.8em 2.5em;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  border-radius: 10em;
  font-weight: 700;
  letter-spacing: 0.2em;
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.curve {
  width: 100vw;
  height: 10vw;
}

.phone {
  .phone-inner {
    position: relative;

    .phone-border {
      position: relative;
      z-index: 1;
      width: 90vw;
      left: 50%;
      transform: translate(-50%, 0);
  
      // 493px * 0.9 = 444px which is the max width of the phone
      @media only screen and (min-width: 493px) {
        width: 444px;
      }
    }
    
    .phone-screen {
      position: absolute;
      z-index: 0;
      width: 79vw;
      max-width: $phone-max-width - 40px;
      top: 4vw;
      left: 50%;
      transform: translate(-50%, 0);
  
      @media only screen and (min-width: 493px) {
        width: 390px;
        top: 20px;
      }
    }
  }
}

.hero {
  margin-top: 0;
  padding: 0;

  nav {
    background: $purple;
    height: 5em;

    .nav-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1em $horizontal-padding;

      @media only screen and (min-width: $desktop-width) {
        max-width: 1920px;
        margin: 0 auto;
      }
    }
  }

  .phone {
    display: block;
    @media only screen and (min-width: $desktop-width) {
      display: none;
    }
  }

  .content {
    background-color: $purple;
    @media only screen and (min-width: $desktop-width) {
      padding: 0 $horizontal-padding;
    }

    .content-inner {
      position: relative;
      height: $hero-content-height;
      @media only screen and (min-width: $desktop-width) {
        height: $hero-content-height-desktop;
        margin: 0 auto;
        display: flex;
        justify-content: center;
      }

      .phone {
        display: none;
        @media only screen and (min-width: $desktop-width) {
          display: block;
          margin-top: 8em;
        }
      }
  
      .headline {
        position: absolute;
        bottom: 5em;
  
        left: $horizontal-padding;
        @media only screen and (min-width: $tablet-width) {
          left: $horizontal-padding-tablet;
        }

        @media only screen and (min-width: $desktop-width) {
          position: static;
          padding: 2em;
          margin-top: 18em;
        }
  
        h1 {
          color: $white;
          font-size: 4em;
          text-align: left;
  
          @media only screen and (min-width: $tablet-width) {
            font-size: 5em;
          }
        }
  
        .underline {
          margin-left: 0;
        }
      }
  
      .helper {
        position: absolute;
        width: 85vw;
        max-width: 35em;
        right: -15vw;
        top: 5em;
  
        @media only screen and (min-width: $tablet-width) {
          right: -2em;
        }

        @media only screen and (min-width: $desktop-width) {
          position: relative;
          max-width: none;
          width: 50em;
          top: 10em;
          right: none;
          left: 0;
        }
      }
    }    
  }
}

.find-people {
  @media only screen and (min-width: $desktop-width) {
    padding: 0 $horizontal-padding;
    height: 80em;
  }

  .inner {
    @media only screen and (min-width: $desktop-width) {
      position: relative;
      display: flex;
      justify-content: center;
    }

    .magnifier {
      display: none;
      @media only screen and (min-width: $desktop-width) {
        display: block;
        position: absolute;
        z-index: 0;
        width: 80em;
      }
    }

    .content {
      @media only screen and (min-width: $desktop-width) {
        display: flex;
        align-items: center;
        position: relative;
        top: 5em;
        padding-left: 10em;
      }
      
      @media only screen and (min-width: $widescreen-width) {
        padding-left: 0;
        left: 20em;
      }

      .headline {
        margin-bottom: 3em;
        @media only screen and (min-width: $desktop-width) {
          padding: 2em;
          position: relative;
          z-index: 1;
        }
  
        h1 {
          @media only screen and (min-width: $desktop-width) {
            text-align: right;
            color: $white;
            font-size: 4em;
          }
        }
  
        .underline {
          @media only screen and (min-width: $desktop-width) {
            margin-right: 0;
          }
        }
      }

      .phone {
        @media only screen and (min-width: $widescreen-width) {
          position: relative;
          top: 10em;
        }
      }
    }
  }
}

.simplicity {
  @media only screen and (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headline {
    margin-bottom: 4em;
    @media only screen and (min-width: $desktop-width) {
      order: 2;
    }

    h1 {
      @media only screen and (min-width: $desktop-width) {
        text-align: right;
      }
    }

    .underline {
      @media only screen and (min-width: $desktop-width) {
        margin-right: 0;
      }
    }
  }

  .icons {
    width: 100%;
    max-width: 50em;
    @media only screen and (min-width: $desktop-width) {
      order: 1;
    }
  }
}

.messaging {
  @media only screen and (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .headline {
    margin-bottom: 4em;
    @media only screen and (min-width: $desktop-width) {
      order: 2;
      position: relative;
      z-index: 1;
      top: 10em;
      left: -10em;
    }

    h1 {
      @media only screen and (min-width: $desktop-width) {
        text-align: left;
      }
    }

    .underline {
      @media only screen and (min-width: $desktop-width) {
        margin-left: 0;
      }
    }
  }

  .bubbles {
    width: 100%;
    max-width: 50em;
    @media only screen and (min-width: $desktop-width) {
      order: 1;
      position: relative;
      z-index: 0;
    }
  }
}

.quote {
  background-color: $cyan;
  @media only screen and (min-width: $desktop-width) {
    background-color: $white;
    margin-top: 40em;
  }

  .inner {
    background-color: $cyan;
    padding-top: 4em;
    padding-bottom: 4em;
    @media only screen and (min-width: $desktop-width) {
      position: relative;
      right: 0;
      left: 30%;
      padding: 0;
      height: 23em;
    }

    h2 {
      margin-bottom: 0.5em;
      @media only screen and (min-width: $desktop-width) {
        position: absolute;
        width: 10em;
        font-size: 4em;
        text-align: left;
        top: -0.5em;
        left: -1em;
      }
    }

    h3 {
      opacity: 0.5;
      @media only screen and (min-width: $desktop-width) {
        position: absolute;
        text-align: left;
        bottom: 1em;
        left: 5em;
      }
    }
  }
}

.download {
  padding: 0;

  .content {
    padding: 8em $horizontal-padding;
    background-color: $purple;
    
    h1 {
      color: $white;
    }

    h3 {
      margin-top: 2em;
      color: $white;
    }

    .store-btns {
      margin-top: 4em;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .app-store-btn {
        height: 76px;
        padding: 0.2em;
      }

      .play-store-btn {
        height: 80px;
        padding: 0.2em;
      }
    }
  }
}

footer {
  background-color: $black;
  padding: 1em 0;
  
  .social-media-icons {
    padding: 5em $horizontal-padding;
    display: flex;
    justify-content: center;

    .social-media-icon {
      height: 1.5em;
      padding: 1em
    }
  }

  p {
    color: white;
    text-align: center;
    opacity: 0.5;
    font-size: 0.8em;
  }
}

.policy-hero {
  margin-top: 0;
  padding: 0;

  nav {
    background: $purple;
    height: 5em;

    .nav-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1em;

      @media only screen and (min-width: $desktop-width) {
        max-width: 1920px;
        margin: 0 auto;
      }
    }
  }

  .content {
    background-color: $purple;
    padding: 0 1em;

    .content-inner {
      height: 30em;
      display: flex;
      justify-content: start;
      align-items: center;
      @media only screen and (min-width: $tablet-width) {
        width: $tablet-width;
        margin: auto;
      }

      .headline {
        h1 {
          color: $white;
          text-align: left;
          font-size: 2.5em;
          overflow-wrap: break-word;
          word-wrap: break-word;
          hyphens: manual;
          @media only screen and (min-width: $tablet-width) {
            font-size: 4em;
          }
        }
  
        .underline {
          margin-left: 0;
          height: 1em;
        }
      }
    }    
  }
}

.policy {
  padding: 1em 1em 4em 1em;
  margin: 0;
  
  h1, h2, h3, h4, h5, h6, p { 
    text-align: left;
    line-height: 1.5;
    margin: 1.0em 0;
  }

  h1 { font-size: 1.75em }
  h2 { font-size: 1.5em }
  h3 { font-size: 1.25em }
  h4 { font-size: 1.0em }
  h4 { font-size: 1.0em }
  h4 { font-size: 1.0em }
  p  { font-size: 1em }

  h1 { font-weight: 700 }
  h2 { font-weight: 700 }
  h3 { font-weight: 700 }
  h4 { font-weight: 700 }
  h4 { font-weight: 700 }
  h4 { font-weight: 700 }
  p  { font-weight: 300 }

  li { 
    margin-left: 1.0em;
    list-style-type: disc;
  }
  ul { margin-left: 1.0em }

  @media only screen and (min-width: $tablet-width) {
    width: $tablet-width;
    margin-left: auto;
    margin-right: auto;

    h1, h2, h3, h4, h5, h6, p { 
      text-align: left;
      margin: 1.25em 0;
    } 

    h1 { font-size: 2.5em }
    h2 { font-size: 2.0em }
    h3 { font-size: 1.5em }
    h4 { font-size: 1.25em }
    h4 { font-size: 1.0em }
    h4 { font-size: 1.0em }
    p  { font-size: 1em }
  }
}